<div class="col-md-8 col-md-offset-2">
  <h1 class="new-msg-header">Fix Message</h1>

  <%= render 'form' %>
  <div class="links btn-group">
        <%= link_to "Back", root_path, class: "btn btn-default" %>
  </div>
</div>
